<h2>Add Scores</h2>
<% if flash[:notice] %>
    <p id="notice" style="display:none">
        <%= flash[:notice] %></p> 
        <script type="text/javascript">
            Effect.Appear($("notice"), { duration: 3.0 });
            Effect.Fade($("notice"), { duration: 3.0 });
        </script>
<% end %>
<% form_for @league_score, :url => {:controller => "league", :action => "update", :id => @league.id} do |f| %>
    <%= label_tag "Shooter"%>
    <%= select "league_score", "user_id", @league_shooters.collect {|p| [ p.name, p.id ] }, { :include_blank => true }%>
    <%= f.label :score%>
    <%= f.text_field :score%>
    <%= f.label :shot_at%>
    <%= f.date_select :shot_at%>
    <%= f.hidden_field :league_id%>
    <%= f.submit "OK", :remote => true%>
<% end %>
<%= link_to "Return to League", :controller => "league", :action => "show", :id => @league.id %>
