<%if @score_sheet.size > 0 %>
<div id="current_score" align="center">
    Current Score <%=@score_sheet.map{|s| s.end_score}.sum%></br>
    X's <%= @score_sheet.map{|s| s.x_count}.sum%>
</div>
<div id="score_sheet" align="center">
<table>
    <thead>
        <% for s in Array.new(@score_sheet.first.arrow_count){|i| 1+i} %>
            <th> Arrow <%= s %> </th>
        <% end %>
            <th> End Total </th>
            <th> X's</th>
    </thead>
    <tbody>
        <% for s in @score_sheet %>
            <tr class=<%=cycle("even", "odd")%>>
                <% for c in s.scores.split(",")%>
                    <td> <%= c %> </td>
                <% end %>
                    <td> <%= s.scores.split(",").map{|i| i.to_i}.sum %></td>
                    <td> <%= s.x_count%></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
<script type="text/javascript">
    BounceEffect($("current_score"));
</script>
<% end %>
