<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

<script type="text/javascript">

function BUDEffect(element){
    new Effect.toggle(element,'Blind', {duration:0.5});
}
</script>

<div id="round_info" align="center">
    <h2> Round Information </h2>
    <% form_for @round , :url => { :controller => "round", :action => "create"} do |f|  %>
        <table>
            <thead>
            <th><%= f.label :end_count %></th>
            <th><%= f.label :arrow_count %></th>
            </thead>
            <tbody>
                <tr>
                    <td><%= f.text_field :end_count %></td>
                    <td><%= f.text_field :arrow_count %></td>
                    <td><%= f.submit "Start" %></td>
                </tr>
    <% end %>
</div>



