<%= javascript_include_tag "prototype.js"%>
<!--[if IE]><%= javascript_include_tag "excanvas.js"%><![endif]-->  
<%= javascript_include_tag "ProtoChart.js"%>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>

<style type="text/css">

#fig {
  width: 500px;
  height: 300px;
}

</style>
<div id="fig">
<script type="text/javascript">
    var data = [];
    var data_index = <%=array_or_string_for_javascript @end_index%>;
    <% for e in @end_scores %>
    data.push(<%=array_or_string_for_javascript e%>.map(parseFloat).map(function(a,data_index) {return [data_index,a];}));
    <% end %>
    new Proto.Chart($('fig'), 
    					[
    					{data: data[0], label: "Arrow 1"},
    					{data: data[1], label: "Arrow 2"},
    					{data: data[2], label: "Arrow 3"}
    					],
    					{
    						bars: {show: true},
    						yaxis: {min: 0, max: 10, tickSize: 1},
    						xaxis: {min: 0, max: 10, tickSize: 1}

    					});
</script>
</div>