<%= javascript_include_tag "protovis-d3.2.js"%>
<%= csrf_meta_tag %>
<div class="row">
<ul class="pills">
<li class="active"><%= link_to "End Performance", :controller => "round", :action => "show_ends", :id => @round.id%></li>
<li><%= link_to "Arrow Distribution", :controller => "round", :action => "show_dist", :id => @round.id %></li>
<li><%= link_to "Shot-by-Shot Performance", :controller => "round", :action => "show_shots", :id => @round.id%></li>
<li><%= link_to "Score Sheet", :controller => "round", :action => "show_score", :id => @round.id%></li>
</ul>
</div>



