<%= render "round_nav"%>
<div class="row">
<ul class="pills">
<li class="active"><%= link_to "End Performance", :controller => "round", :action => "show_ends", :id => @round.id%></li>
<li><%= link_to "Arrow Distribution", :controller => "round", :action => "show_dist", :id => @round.id %></li>
<li><%= link_to "Score Sheet", :controller => "round", :action => "show_score", :id => @round.id%></li>
</ul>
</div>
<div class="container">
    <%= high_chart('end_chart', @end_performance) do %>
    	<%= "options.tooltip.formatter = function() { return this.y;}" %>
    <% end %>
</div>
