<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<script type="text/javascript">
    
function BounceEffect(element){
    new Effect.Shake(element, {distance: 10});
}
</script>
<div id="end_score" align="center">
<% if @score_sheet.size < 10 %>
<% form_for @round_end, :url => {:controller => "round", :action => "update"} do |f| %>
    <table>
        <thead>
            <th>Shot 1</th>
            <th>Shot 2</th>
            <th>Shot 3</th>
            <th>X's</th>
        </thead>
        <tbody>
        <tr>
            <% for arrow in Range.new(1,@round.arrow_count)%>
            <td><%= select("shot", arrow.to_s, @possible_scores, {:selected => @last_score})%></td>
            <% end %>
            <td><%= select("shot", "x", Array.new(@round.arrow_count+1){|i| i})%></td>
            <%= f.hidden_field :round_id%>
            <td><%= f.submit "OK", :remote => true%>
        </tr>
        </tbody>
    </table>
<% end %>
<% else %>
<%= link_to "Results", :action => "results", :id => @round.id%>
<% end %>
</div>
<%= render "score_sheet"%>
