<%= javascript_include_tag "protovis-d3.2.js"%>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<%= render "round_nav"%>
<div class="row">
<ul class="pills">
<li><%= link_to "End Performance", :controller => "round", :action => "show_ends", :id => @round.id%></li>
<li class="active"><%= link_to "Arrow Distribution", :controller => "round", :action => "show_dist", :id => @round.id %></li>
<li><%= link_to "Score Sheet", :controller => "round", :action => "show_score", :id => @round.id%></li>
</ul>
</div>
<div class="row">
    <div class="span12 columns offset3">
<h2 style="float:center"> Shot Breakdown </h2>
<%= render "shot_histogram"%>
    </div>
</div>