<div align="center" style="float:left">
    <h2> <%= @shooter.name%> Shots </h2>
    <div style="float:left;width:100px">
        <p><b>Best Round </b> <b style="font-size:24px;color:#1E72AC"> <%=@round_scores.max%></b></p>
        <p><b>Worst Round </b> <b style="font-size:24px;color:#1E72AC"> <%=@round_scores.min%></b></p>
        <p><b><%= link_to "Round Tracking", :action => "results", :id => @shooter.id%></b></p>
    </div>
<div id="shot_histogram" style="width:550px;float:left">
</div>
</div>

<script type="text/javascript+protovis">

    var data_values = <%=array_or_string_for_javascript @shots%>.map(parseFloat);
    var colors = ["#aaa","#FFFFBF","#111111","#112222","#44aabb","#44eeff","#ee2211","#ff2211","#ddcc44","#ffff55"];
    var w = 420,
        h = 300,
        x = pv.Scale.linear(0, 10).range(0, w),
        bins = pv.histogram(data_values).bins(x.ticks(10)),
        y = pv.Scale.linear(0, pv.max(bins, function(d) d.y)).range(0, h);

    var vis = new pv.Panel().canvas($(shot_histogram))
        .width(w)
        .height(h)
        .margin(20);

    vis.add(pv.Bar)
        .data(bins)
        .bottom(0)
        .left(function(d) x(d.x))
        .width(function(d) x(d.dx))
        .height(function(d) y(d.y))
        .fillStyle(function(d) colors[d.x])
        .strokeStyle("rgba(255, 255, 255, .2)")
        .lineWidth(1)
        .antialias(false);

    vis.add(pv.Rule)
        .data(y.ticks(5))
        .bottom(y)
        .strokeStyle("#fff")
      .anchor("left").add(pv.Label)
        .text(y.tickFormat);

    vis.add(pv.Rule)
        .data(x.ticks())
        .left(x)
        .bottom(-5)
        .height(5)
      .anchor("bottom").add(pv.Label)
        .text(x.tickFormat);

    vis.add(pv.Rule)
        .bottom(0);

    vis.render();
</script>