<script type="text/javascript">

function BUDEffect(element){
    new Effect.toggle(element,'Blind', {duration:0.5});
}
</script>

    <h1><%=@shooter.name%></h1>
    <hr>
    <h2 class="alt"><%=@shooter.email%></h2>
    <%= link_to "Logout", :controller => "sessions", :action => "destroy"%>
    <hr>
<div class="span-24">
    <% if flash[:notice]%>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% elsif flash[:success]%>
            <div class="success">
                <%= flash[:success] %>
            </div>
    <% elsif flash[:error]%>
            <div class="error">
                <%= flash[:success] %>
            </div>
    <% end %>
<div class="span-4"><b>Best Score </b> <b style="font-size:24px;color:#1E72AC"> <%=@shooter.best_score%></b></div>
<div class="append-1"></div>
<div class="span-4 last"><b>Average Score </b> <b style="font-size:24px;color:#1E72AC"> <%='%.1f' % @shooter.average_score%></b></div>
</div>


<div class="span-4 first">
    <ul>
        <li><%= link_to "New Round", :controller => "round", :action => "new"%></li>
        <li><%= link_to "View Leagues", :controller => "league", :action => "index"%></li>
        <li><%= link_to "View Tournaments", :controller => "tournament", :action => "index"%></li>
        <li><%= link_to_function "Join League", "BUDEffect($(league_form))"%></li>
        <li><%= link_to_function "Enter Tournament", "BUDEffect($(tournament_form))"%></li>
        <li><%=link_to_function "Previous Rounds", 'BUDEffect($(previous_rounds));'%></li>
    </ul>

<div class="span-7" style="display:none" id="league_form">
    <% form_tag(:controller => "shooter", :action => "join_league") do %>
            <%= label_tag "League ID" %>
            <%= text_field_tag :league_id %>
            <%= submit_tag "Join" %>
    <% end %>
</div>

<div class="span-7" style="display:none" id="tournament_form">
    <% form_tag(:controller => "shooter", :action => "enter_tournament") do %>
            <%= label_tag "Tournament ID" %>
            <%= text_field_tag :tournament_id %>
            <%= submit_tag "Enter" %>
    <% end %>
</div>
</div>

<div class="span-3 append-1 prepend-1" style="display:none" id="previous_rounds">
    <ul>
    <% for r in @old_rounds %>
        <li><%= link_to r["date"], :controller => "round", :action => "results", :id => r["id"]%></li>
    <% end %>
    </ul>
</div>
<div class="span-7 last">
    <ul>
    <% if @shooter.is_admin %>
        <li><%= link_to "Administration", :controller => "admin", :action => "show" %></li>
    <% end %>
    <% if @shooter.rounds.size > 0%>
        <li><%= link_to "Personal Summary", :action => "results", :id => @shooter.id%></li>
    <% end %>
    </ul>
</div>
