<%= javascript_include_tag "protovis-d3.2.js"%>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<h2 align="center"><%= @tournament.name %> Results </h2>
<div style="float:left;width=100px;padding-top:100px">
<p><%= link_to "Shooter Home", :controller => "shooter", :action => "show", :id => @shooter.id%></p>
<p><%= link_to "Tournament Listing", :controller => "tournament", :action => "show"%></p>
</div>
<div align="center">
    <table>
        <thead>
            <th>Shooter</th>
            <th>Score</th>
        </thead>
        <tbody>
            <% for s in @shooter_scores%>
            <tr class=<%=cycle('odd','even')%>>
                <td><%=s.first%></td>
                <td><%=s.last%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
