
<h2 align="center">Tournament Listing </h2>
<div style="float:left;width=100px;padding-left:300px">
<p><%= link_to "Shooter Home", :controller => "shooter", :action => "show", :id => @shooter.id%></p>
<% if @shooter.is_admin %>
<p><%= link_to "Create Tournament", :controller => "tournament", :action => "new"%></p>
<% end %>
</div>
<div style="float:left;padding-left:100px">
<table>
    <thead>
        <th>Tournament</th>
        <th>Distance</th>
        <% if @shooter.is_admin %>
        <th> ID </th>
        <th> Action </th>
        <% end %>
    </thead>
    <tbody>
        <% for t in @tournament %>
        <tr class=<%=cycle("even", "odd")%>>
            <td>
                <% if TournamentScore.find_all_by_tournament_id(t.id).count > 0 %>
                <%= link_to t.name, :controller => "tournament", :action => "results", :id => t.id %>
                <% else %>
                <%= t.name %>
                <% end %>
            </td>
            <td> 
                <%= t.distance %>
            </td>
            <% if @shooter.is_admin %>
            <td>
                <%= t.id %>
            </td>
            <td>
                <%= link_to "Add Scores", :controller => "tournament", :action => "scores", :id => t.id%>
            </td>
            <%end %>
        </tr>
        <% end %>
    </tbody>
</table>
</div>

